@import "tailwindcss";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.scrollbar-visible {
  scrollbar-width: auto;
  -ms-overflow-style: auto;
  overflow-x: scroll !important;
}

.scrollbar-visible::-webkit-scrollbar {
  height: 6px;
}
.scrollbar-visible::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px;
}
.scrollbar-visible::-webkit-scrollbar-track {
  background-color: #f9fafb;
}


/* Slide-in animation */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.slide-in-left {
  animation: slideInLeft 0.3s ease-out forwards;
}
